.colorActivo{
    --color:#F0C911;
    color:#F0C911;
}

img{
    //width: 130px;
    height: 25vh;
    }

 .texto{
    color: black;
    font-size: 15px;
 }   

 .lista{
    margin-left: 15px;
    margin-right: 15px;
 }