.image-center{
    margin:0 auto;
}

ion-content{
   --background: #FBFBFB;
    background: #FBFBFB;
}

.colorBack{
    --background: #FBFBFB;
     background: #FBFBFB;
 }

* {
    font-family: Gilroy-Regular !important;
  }
  
.contenedorFlex{
    align-items: center;
    display: grid;
    justify-content: flex-start;
}

.contenedorFlexCenter{
    align-items: center;
    display: flex;
    justify-content: center;
}


