<ion-header class="ion-no-border contenedorBack" >
  <ion-toolbar class="contenedorBack">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon style="font-weight: bold; color: black;" slot="icon-only" name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="color:black; font-weight: bold; font-family: Gilroy-Regular; text-transform: capitalize;">
      Mi Pedido
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon style="font-weight: bold; color: black;"  name="help-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="contenedorBack">
  <ion-item-divider class="contenedorBack">
    <ion-icon name="location-sharp" style="color:#1D9828;"></ion-icon>
    <ion-label style="margin-left: 5px;"><span style="color: black;">Se entregará en:</span></ion-label>
  </ion-item-divider>

  <ion-row style="padding-left: 4px; padding-right: 4px;">
    <ion-col size="12">
      <ion-row>
        <ion-col size="12">
          <ion-item class="contenedorBack">
            <ion-text style="font-weight: bold; font-size: 0.8rem; text-transform: uppercase;">
              Direccion: <span style="color:#1D9828;">{{dataPedido.Direccion}}</span> 
            </ion-text>
          </ion-item>
          <ion-item class="contenedorBack">
            <ion-text style="font-weight: bold; font-size: 0.8rem; text-transform: uppercase;">
              Referencia: <span style="color:#1D9828;">{{dataPedido.Referencia}}</span> 
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row> 
    </ion-col>
  </ion-row>

  <ion-item-divider class="contenedorBack">
    <ion-icon name="business-sharp" style="color:#1D9828;"></ion-icon>
    <ion-label style="margin-left: 5px;"><span style="color: black;">Pedido a:</span></ion-label>
  </ion-item-divider>

  <ion-row style="padding-left: 4px; padding-right: 4px;">
    <ion-col size="12">
      <ion-row>
        <ion-col size="2" class="contenedorFlex">
          <img class="imageEmpresa" onerror="this.src='assets/img/loading.gif';" src="{{dataPedido.Empresa.ImagenUrl}}">
        </ion-col>
        <ion-col size="10" class="contenedorIzq">
          <ion-label style="font-weight: bold; font-size: 1rem;">{{dataPedido.Empresa.RazonSocial}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-item-divider class="contenedorBack">
    <ion-icon name="cart-sharp" style="color:#1D9828;"></ion-icon>
    <ion-label style="margin-left: 5px;"><span style="color: black;">Productos:</span></ion-label>
  </ion-item-divider>

  <ion-row style="padding-left: 4px; padding-right: 4px;">
    <ion-col size="12">
      <ion-row *ngFor="let detalle of dataPedido.DetallePedido">
        <ion-col size="2" class="contenedorFlex" >
          <ion-label style="color:#1D9828; font-weight: bold; font-size: 1rem;">{{detalle.Cantidad}}</ion-label>
        </ion-col>
        <ion-col size="7" class="contenedorIzq">
          <ion-label style="font-size: 0.85rem; font-weight: bold;">{{detalle.Producto}}</ion-label>
        </ion-col>
        <ion-col size="3" class="contenedorFlex">
          <ion-label style="font-weight: bold; font-size: 0.85rem; color: black;">{{(detalle.Precio * detalle.Cantidad) | currency:'PEN':'S/ ':'1.2-2' }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-item-divider class="contenedorBack">
    <ion-icon name="bicycle-sharp" style="color:#1D9828;"></ion-icon>
    <ion-label style="margin-left: 5px;"><span style="color: black;">Delivery: </span></ion-label>
  </ion-item-divider>

  <ion-row style="padding-left: 4px; padding-right: 4px;">
    <ion-col size="12">
      <ion-row>
        <ion-col size="2" class="contenedorFlex">
        </ion-col>
        <ion-col size="7" class="contenedorIzq">
          <ion-label style="font-size: 0.85rem; font-weight: bold;">PRECIO DE ENVÍO </ion-label>
        </ion-col>
        <ion-col size="3" class="contenedorFlex">
          <ion-label style="font-weight: bold; font-size: 0.85rem; color: black;">{{ dataPedido.PrecioDelivery  | currency:'PEN':'S/ ':'1.2-2' }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row style="height: 1vh;"></ion-row>
  <ion-item-divider class="contenedorBack">
    <ion-icon name="card-sharp" style="color:#1D9828;"></ion-icon>
    <ion-label style="margin-left: 5px;"><span style="color: black;">Metodo de pago:</span></ion-label>   
  </ion-item-divider>

  <ion-row style="padding: 0 0 0 13px;">
    <ion-col size="12" class="contenedorFlex">
      <ion-label style="font-weight: bold;">{{dataPedido.MetodoPago}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="Cambio > 0 && Cambio!=(DeliveryPrecio + ProductosPrecio)" style="margin-top: -10px;">
    <ion-col size="12">
      <ion-row>
        <ion-col size="2" class="contenedorFlex">
        </ion-col>
        <ion-col size="7" class="contenedorDer">
          <ion-label style="font-size: 0.85rem; font-weight: bold;">VUELTO:</ion-label>
        </ion-col>
        <ion-col size="3" class="contenedorFlex">
          <ion-label style="font-weight: bold; font-size: 0.85rem; color: black;">{{ ( Cambio - (DeliveryPrecio + ProductosPrecio))  | currency:'PEN':'S/ ':'1.2-2' }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row style="height: 1vh;"></ion-row>
</ion-content>

<ion-footer class="ion-no-border" style="background: #36CD7A;">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-label style="color:white;font-weight: bold;">TOTAL A PAGAR: {{DeliveryPrecio + ProductosPrecio | currency:'PEN':'S/ ':'1.2-2'}}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>