#mapid {
    display: block;
    margin: 0 auto; // Make the photo center align
    width: 100%;    // Adjust the width according to height
    height: 93vh; 
    }

.contenedorFlex{
    align-items: center;
    display: flex;
    justify-content: center;
}