ion-toolbar{
  --background: #D9E6E6;
}

ion-content{
  --background: #D9E6E6;
}

ion-item-divider{
  --background: #D9E6E6;
}

.botonRealizar {
    --background: #1D9828;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 10px;
}

ion-img {
    border: 0.5px solid gray;
    border-radius: 10% !important;
    overflow: hidden;
}

.contenedorCentroGrid{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

.contenedorFlex{
    align-items: center;
    display: flex;
    justify-content: center;
}

.contenedorIzq{
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

.contenedorDer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

.unaLinea{
    overflow: hidden;
    text-overflow: ellipsis; 
    display: -webkit-box; -webkit-line-clamp: 1;
    line-height: 16px; max-height: 32px; -webkit-box-orient: vertical
}

* {
  font-family: Gilroy-Regular;
}

.parpadea {
  animation: mymove 2s infinite;
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}